[sssd]
domains = {{ realm_domain }}
config_file_version = 2
services = nss, pam
override_space = _

[nss]
debug = 9

[pam]
debug = 9
pam_verbosity = 3

[domain/{{ realm_domain }}]
debug = 9
ad_server = {{realm_domain_server | lower}}
ad_domain = {{ realm_domain }}
krb5_realm = {{ realm_domain }}
krb5_server = {{realm_domain_server}}
realmd_tags = manages-system joined-with-adcli
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_id_mapping = True
use_fully_qualified_names = False
fallback_homedir = /home/%u
access_provider = ad
ldap_schema = AD


